/* frontend/src/assets/main.css (修改后) */
@import './base.css';

#app {
  /* 我们不再需要任何特定的布局样式，让它自然填充即可 */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}